.documents {
  padding: 2rem 4rem;
}

.documents h2 {
  margin-left: 0.5rem;
}

.gutter-row {
  border: 1px solid rgb(223, 220, 220);
  padding: 0px !important;
  height: 300px;
  border-radius: 3px;
  width: 20% !important;
  overflow: hidden;
}

.gutter-row:hover {
  border: 1px solid #4285f4;
  cursor: pointer;

}


.content-preview {
  line-height: 1rem;
  padding: 1rem;
  background-color: rgba(220, 220, 243, 0.267);
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.content-preview p {
  font-size: 10px;
}

.details {
  width: 100%;
  padding: 0.5rem;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details h3 {
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.more-details {
  display: flex;
  justify-content: space-between;
}

.more-details span {
  margin-top: 0.2rem;
  color: #6a6666;
  font-weight: 500;
  font-size: 0.8rem;
}

.dots-icon {
  font-size: 1.2rem !important;
  padding: 0.2rem;
}

.dots-icon:hover {
  background-color: #c4bfbf;
  color: #fff;
  border-radius: 50%;
}

.plus-icon {
  font-size: 2rem;
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4285f4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}