@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

.header {
  width: 100%;
  background-color: #f1f6f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0 0 5px 5px;
  height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo {
  width: 10%;
  font-family: "Fugaz One", cursive;
  font-size: 1.5rem;
  color: #212a3e;
  cursor: pointer;
}

.avatar {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
}

.avatar input {
  position: absolute;
  width: 28px;
  height: 28px;
  z-index: 1000;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0;
}

.logout-button {
  border: none;
  background: none;
  font-size: 1rem;
  margin-left: 0.5rem;
  font-family: "Fugaz One", cursive;
}

.logout-button:hover {
  color: #373c47;
  text-decoration: underline;
  cursor: pointer;
}

.rightie {
  display: flex;
}
